<!-- app/views/shared/_navbar.html.erb -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <span class="logo">Mi Tienda</span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Ver Inventario', '/', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Ver Clientes', '/clientes', class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Agregar Venta', '/ventas/new', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Agregar Inventario', '/productos/update', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Administrar Productos', '/productos', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
