<div class="container">
    <div class="row">
        <div class="col-12">
        <h1 class="text-center">Clientes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Fecha de Creado</th>
            </tr>
            </thead>
            <tbody>
            <% if @error_message %>
                <p><%= @error_message %></p>
            <% else %>
            <% @clientes.each do |cliente| %>
                <tr>
                    <th><%= cliente['cedula'] %></th>
                    <th><%= cliente['nombre'] %></th>
                    <th><%= cliente['apellido'] %></th>
                    <th><%= cliente['email'] %> </th>
                    <th><%= cliente['createdAt'] %> </th>
                </tr>
                <% end %>
            <% end %>
            </tbody>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>